Create an artificial neural network (ANN) to predict if a banker customer is leaving or not using raw banking customers' data.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential 
from keras.layers import Activation, Dense 
from sklearn.metrics import confusion_matrix, accuracy_score

**Step 1 - Data processing**

In [ ]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

**Categorical Encoding**

In [ ]:
labelencoder_X_1 = LabelEncoder()
dataset['Geography'] = labelencoder_X_1.fit_transform(dataset['Geography'])

In [ ]:
labelencoder_X_2 = LabelEncoder()
dataset['Gender'] = labelencoder_X_2.fit_transform(dataset['Gender'])

In [ ]:
dummy_data = pd.get_dummies(dataset['Geography'])
dummy_data

      0  1  2
0     1  0  0
1     0  0  1
2     1  0  0
3     1  0  0
4     0  0  1
...  .. .. ..
9995  1  0  0
9996  1  0  0
9997  1  0  0
9998  0  1  0
9999  1  0  0

[10000 rows x 3 columns]

In [ ]:
del dataset['Geography']
del dataset['RowNumber']
del dataset['Surname']
del dataset['CustomerId']
dataset.head()

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Exited
0          619       0   42  ...               1        101348.88       1
1          608       0   41  ...               1        112542.58       0
2          502       0   42  ...               0        113931.57       1
3          699       0   39  ...               0         93826.63       0
4          850       0   43  ...               1         79084.10       0

[5 rows x 10 columns]

In [ ]:
dataset_new = pd.concat([dummy_data, dataset], axis=1)
dataset_new.head()

   0  1  2  CreditScore  ...  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0  1  0  0          619  ...          1               1        101348.88       1
1  0  0  1          608  ...          0               1        112542.58       0
2  1  0  0          502  ...          1               0        113931.57       1
3  1  0  0          699  ...          0               0         93826.63       0
4  0  0  1          850  ...          1               1         79084.10       0

[5 rows x 13 columns]

**Feature selection**

In [ ]:
X = dataset_new.iloc[:, 1:-1].values
print(X)
y = dataset.iloc[:, -1].values
print(y)

[[0.0000000e+00 0.0000000e+00 6.1900000e+02 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 1.0000000e+00 6.0800000e+02 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [0.0000000e+00 0.0000000e+00 7.0900000e+02 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [1.0000000e+00 0.0000000e+00 7.7200000e+02 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [0.0000000e+00 0.0000000e+00 7.9200000e+02 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]
[1 0 1 ... 1 1 0]

**Splitting the Data**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2, random_state = 0)

**Feature scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**Building the Model**

In [ ]:
classifier = Sequential()

In [ ]:
#add input layer and first hidden layer
classifier.add(Dense(units=6, activation='relu', input_dim = 11))
#add 2nd hidden layer
classifier.add(Dense(units=6, activation='relu'))

In [ ]:
classifier.add(Dense(units = 1,  activation = 'sigmoid'))

**Model compiling**

In [ ]:
classifier.compile(optimizer = 'Adam', loss ='binary_crossentropy', metrics = ['accuracy'])

**Fit the Model**

In [ ]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
800/800 [==============================] - 14s 1ms/step - loss: 0.8859 - accuracy: 0.4819
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4599 - accuracy: 0.8104
Epoch 3/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8209
Epoch 4/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3941 - accuracy: 0.8288
Epoch 5/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3587 - accuracy: 0.8449
Epoch 6/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3691 - accuracy: 0.8411
Epoch 7/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3686 - accuracy: 0.8437
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3571 - accuracy: 0.8500
Epoch 9/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3558 - accuracy: 0.8529
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3535 - accuracy: 0.8535
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3558 - accuracy: 0.8515
Epoch 12/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3483 - accuracy: 0.8593
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3508 - accuracy: 0.8590
Epoch 14/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3348 - accuracy: 0.8666
Epoch 15/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3448 - accuracy: 0.8618
Epoch 16/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8629
Epoch 17/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3361 - accuracy: 0.8653
Epoch 18/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8666
Epoch 19/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3456 - accuracy: 0.8622
Epoch 20/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 21/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3333 - accuracy: 0.8674
Epoch 22/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3535 - accuracy: 0.8551
Epoch 23/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3349 - accuracy: 0.8664
Epoch 24/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3416 - accuracy: 0.8611
Epoch 25/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8627
Epoch 26/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3509 - accuracy: 0.8569
Epoch 27/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8604
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3322 - accuracy: 0.8685
Epoch 29/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3328 - accuracy: 0.8673
Epoch 30/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3452 - accuracy: 0.8600
Epoch 31/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3296 - accuracy: 0.8649
Epoch 32/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3497 - accuracy: 0.8578
Epoch 33/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3313 - accuracy: 0.8654
Epoch 34/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3335 - accuracy: 0.8625
Epoch 35/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3291 - accuracy: 0.8701
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3358 - accuracy: 0.8654
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3422 - accuracy: 0.8567
Epoch 38/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3287 - accuracy: 0.8662
Epoch 39/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3302 - accuracy: 0.8652
Epoch 40/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3234 - accuracy: 0.8676
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3239 - accuracy: 0.8668
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3321 - accuracy: 0.8624
Epoch 43/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3412 - accuracy: 0.8591
Epoch 44/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3349 - accuracy: 0.8601
Epoch 45/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8681
Epoch 46/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3279 - accuracy: 0.8670
Epoch 47/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3238 - accuracy: 0.8668
Epoch 48/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8609
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3299 - accuracy: 0.8643
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3333 - accuracy: 0.8631
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3286 - accuracy: 0.8624
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3359 - accuracy: 0.8600
Epoch 53/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3483 - accuracy: 0.8548
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3305 - accuracy: 0.8687
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8656
Epoch 56/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3421 - accuracy: 0.8603
Epoch 57/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3333 - accuracy: 0.8624
Epoch 58/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3267 - accuracy: 0.8679
Epoch 59/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3264 - accuracy: 0.8663
Epoch 60/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3345 - accuracy: 0.8628
Epoch 61/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3229 - accuracy: 0.8694
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3240 - accuracy: 0.8711
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3431 - accuracy: 0.8530
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8581
Epoch 66/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3380 - accuracy: 0.8615
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3248 - accuracy: 0.8647
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3397 - accuracy: 0.8611
Epoch 69/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3321 - accuracy: 0.8663
Epoch 70/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3304 - accuracy: 0.8682
Epoch 71/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8626
Epoch 72/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3255 - accuracy: 0.8657
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3247 - accuracy: 0.8682
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3350 - accuracy: 0.8611
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8609
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3301 - accuracy: 0.8677
Epoch 77/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8599
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3303 - accuracy: 0.8637
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3362 - accuracy: 0.8611
Epoch 80/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3353 - accuracy: 0.8623
Epoch 81/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3297 - accuracy: 0.8647
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3260 - accuracy: 0.8670
Epoch 83/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3372 - accuracy: 0.8607
Epoch 84/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3241 - accuracy: 0.8682
Epoch 85/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3227 - accuracy: 0.8710
Epoch 86/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3409 - accuracy: 0.8577
Epoch 87/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3294 - accuracy: 0.8672
Epoch 88/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3317 - accuracy: 0.8639
Epoch 89/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3283 - accuracy: 0.8684
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3279 - accuracy: 0.8685
Epoch 91/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3353 - accuracy: 0.8600
Epoch 92/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3278 - accuracy: 0.8724
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3336 - accuracy: 0.8647
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3269 - accuracy: 0.8683
Epoch 95/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3421 - accuracy: 0.8627
Epoch 96/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3318 - accuracy: 0.8636
Epoch 97/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3286 - accuracy: 0.8692
Epoch 98/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3412 - accuracy: 0.8572
Epoch 99/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3471 - accuracy: 0.8613
Epoch 100/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3340 - accuracy: 0.8604

**Model prediction**

In [ ]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1527,   68],
       [ 203,  202]])

In [ ]:
print('Prediction Accuracy on Test Data: {0} %'.format(accuracy_score(y_test, y_pred) * 100))

Prediction Accuracy on Test Data: 86.45 %